.contact {
  border-left: none;
  border-right: none;
  cursor: pointer;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding: 0.5em;
}
.contact:hover {
  background: #f8f9fa;
}
